nav {
  display: block;
  background-color: black;
}

nav li {
  display: inline-block;
  margin: 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav li a {
  text-decoration: none;
  color: white;
}
